#contact footer {
    border: 1px solid black;
    padding: 40px;
    background-color: rgb(51, 49, 49);
    display: flex;
    align-items: center;
    justify-content:space-around ;
    border:1px solid green;


}

footer a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
}

footer a:hover {
    color: rgb(203, 202, 249);
    cursor: pointer;
}

footer h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 40px;
    width: 40px;
    padding: 10px;
}
.footer-con{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
/*
.footer-con {
    width: 100%;
    display: flex;
    border:1px solid red;
    justify-content:space-around ;
}*/

@media (min-width:768px) and (max-width:1024px) {
#contact footer {
    padding: 30px 15px 30px 15px;
}
    footer a {
        font-size: 20px;
        word-spacing: 10px;
    }
}

@media (max-width:768px) {

    #contact footer {
        padding: 18px;

    }

    footer a {
        font-size: 16px;
    }

    footer img {
        height: 20px;
        width: 20px;
        padding: 5px;
    }
    .footer-con{
        flex-direction: column;

    }


}