#projects {
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-con {
    width: 75%;
}

.project-con .project {
    margin: 20px auto;
    background-color: rgb(246, 241, 235);
    border: 1px solid rgb(186, 191, 191);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(186, 191, 191);
    padding: 40px;
}

.project {
    overflow: hidden;
}

.project h2 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    color: rgb(14, 11, 166);
    margin: 0px auto 20px auto;

}

.project h3 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: x-large;
    font-style: normal;
    line-height: 1.5;
    position: relative;
}

.project h3 img {
    height: 40px;
    width: 40px;
    position: absolute;
    margin: 0px 10px;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.project img:hover {
    background-color: rgb(206, 206, 206);
}

.project h4 {
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 30px 0px 0px 0px;
}

.project i {
    color: rgb(1, 0, 79);
    font-weight: 500;
}


@media (min-width:1024px) and (max-width:1440px) {
    #projects {
        margin: 60px auto;
    }

    .project-con {
        width: 90%;
    }

    .project-con .project {
        padding: 30px;
    }

    .project h2 {
        font-size: 28px;
        margin: 0px auto 20px auto;
    }

    .project h3 {
        font-size: 24px;
        line-height: 1.3;
    }

    .project h3 img {
        height: 35px;
        width: 38px;
    }

    .project h4 {
        font-size: 24px;
        margin: 20px 0px 0px 0px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    #projects {
        margin: 25px auto;
    }

    .project-con {
        width: 90%;
    }

    .project-con .project {
        padding: 25px;
    }

    .project h2 {
        font-size: 25px;
        margin: 0px auto 15px auto;
    }

    .project h3 {
        font-size: 22px;
        line-height: 1.2;
    }

    .project h4 {
        font-size: 22px;
        margin: 15px 0px 0px 0px;
    }

    .project h3 img {
        height: 35px;
        width: 38px;
    }

}

@media (max-width:768px) {
    #projects {
        margin: 0px 10px 5px 10px;
    }

    .project-con {
        width: 100%;
    }

    .project-con .project {
        padding: 15px;
    }

    .project h2 {
        font-size: 18px;
        margin: 0px auto 5px auto;
    }

    .project h3 {
        font-size: 17px;
        line-height: 1.2;
    }

    .project h4 {
        font-size: 17px;
        margin: 15px 0px 0px 0px;
    }

    .project h3 img {
        height: 21px;
        width: 35px;

    }

}